.node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

body {
    font-family:  "Times New Roman";
    color: blue;
    background-color: lightsteelblue;

    margin: 10px;
    padding: 5px;
    padding-bottom: 50px;
    max-width: 2000px;
    max-height: 300px;
}

footer{
    position: fixed;
    bottom: 0;

    z-index: -1;
    width: 98%;
    background-color: darkgray;
}

h1 {
    opacity: 0.9;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: lightgrey;
}

img.background{
    position: absolute;
    z-index: -1;
    top:300px;
    padding-left: 50px;
    transform: rotate(7deg);
    opacity: .3;
}

img.logo:hover{
    width: 225px;
    height: 225px;
    transition: .5s;

}

input:focus {
    background-color: lightcyan;
}

input:invalid{
    border: 3px solid red;
}

input.round{
    border: 1px solid black;
    border-radius: 3px;
}

input:valid{
    border: 3px solid green;
}

p{
    color:black;
}

path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

section{
    padding: 25px 50px 75px;
}

table{
  border-collapse: collapse;
  width: 500px;
  position: static;
    padding-bottom: 20px;
}

th, td {

    padding: 10px 50px 10px;
    text-align: left;
    border-bottom: 1px solid darkgrey;
}

tr:hover{
  background-color: lightgrey;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: darkgrey;

}

@media screen and (max-width: 500px) {
    body {
        font-size:18pt;
    }
    p {
       font-size:18pt;
    }
    li{
        font-size:18pt;
    }
}
